@font-face {
	font-family: 'Inter';
	src: local('Inter'), url(/public/fonts/Inter-VariableFont_slnt,wght.ttf) format('ttf');
}

body {
	background-color: hsl(0, 0%, 8%);
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.social-links-profile {
	width: 30vw;
	background-color: hsl(0, 0%, 12%);

	border: solid 2px hsl(0, 0%, 12%);
	border-radius: 3%;

	padding-bottom: 30px;
}

.avatar {
	border-radius: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.user {
	font-size:40px;
}

.location {
	font-size:20px;
}

.description {
	margin-top:30px;
	margin-bottom:20px;
}

.description::before {
	content: "\"";
}

.description::after {
	content: "\"";
}

.user-links {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.user-link {
	display: flex;
	width: 50%;
	background-color: hsl(0, 0%, 20%);
	margin-top: 5px;
	margin-bottom: 5px;
	border: solid 2px hsl(0, 0%, 20%);
	border-radius: 10px;
	padding: 5px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.user-link:hover {
	color: hsl(75, 94%, 57%);
}

.text-white {
	color: hsl(0, 0%, 100%);
}

.text-green {
	color: hsl(75, 94%, 57%);
}